<h1><%= @item.name %></h1>

<p><%= @item.description %></p>

<ul>
  <li><%= link_to "Edit", edit_item_path(@item) %></li>
  <li><%= link_to "Destroy", item_path(@item),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>


<h2>Comments</h2>
<% @item.comments.each do |comment| %>
<% end %>
<%= render @item.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
