<h1><%= @item.name %></h1>

<p><%= @item.description %></p>

<ul>
  <li><%= link_to "Edit", edit_item_path(@item) %></li>
  <li><%= link_to "Destroy", item_path(@item),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>


<h2>Comments</h2>
<% @item.comments.each do |comment| %>
<% end %>
<%= render @item.comments %>

<h2>Add a comment:</h2>
<%= form_with model: [@item, @item.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %><br>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
